.modal-body {}

.form {
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 60px;
}

.form-span {
    font-size: 17px;
    font-weight: 600;
}

.input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 20px 0px;
    width: 80%;
    margin: 0 auto;

}

.input:focus {
    background-color: rgb(255, 255, 255);
}

.input:active {
    background-color: rgb(255, 255, 255);
}

.form-btn {
    cursor: pointer;
    outline: none;
    border: none;
    width: 50%;
    margin: 70px auto;
    
}

.form-span {
    color: var(--grey);
}

.form2 {
}
.input2 {
   
}

.form-btn2 {
    margin: 40px auto;
    cursor: pointer;
    outline: none;
    border: none;
    width: 80%;
}

@media (max-width:500px) {
    .form-btn {
        width: 80%;
        margin: 70px auto;
    }
}